* {
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    height: 70vh;
    /* background-color: blue; */
}

section {
    display: flex;
    width: 80%;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#convert-button {
    display: block;
}

/* text */
header h1 {
    font-size: 4rem
}

main h3 {
    font-size: 2rem;
}

/* box sizes */
#text-to-convert {
    width: 80%;
    height: 300px;
    resize: none;
    margin-bottom: 20px;
}